body {
  --sidebar-menu-background-color: #fff;
  --sidebar-menu-lighter-background-color: #475be8;
  --sidebar-light-menu-background-color: #18191b;
  --sidebar-light-menu-lighter-background-color: #222326;

  --app-background: #f2f4f7;
  --app-background-process: #f5f5f5;
  --app-blue: #e3f2fd;
  --app-black: #000000;
  --app-white: #fff;
  --app-gray: #98a2b3;
  --app-title: #808191;
  --app-secondary-gray: #a6adac;
  --app-light-background-gray: #f5f8ff;
  --app-blue-accent: #0ba5ec;
  --app-main-blue: #155eef;
  --app-main-blue-upload: #004eeb;
  --app-radio-button-border-blue: #3f7af2;
  --app-status-blue: #0040c1;
  --app-status-blue-background: #eff4ff;
  --app-status-red: #ff5757;
  --app-status-red-background: #ffe7e6;
  --app-ligt-black: #36404e;
  --app-title-color: #222326;
  --app-light-gray: #f9fafb;
  --app-lighter-gray: #fcfcfd;
  --app-subtitle-color: #475467;
  --app-icon-gray: #667085;
  --app-light-blue: #d1e0ff;
  --app-light-red: #fee4e2;
  --app-light-purple: #f5f3ff;
  --app-purple: #7839ee;
  --app-red: #b42318;
  --app-red-claret: #912018;
  --app-border-color: #d0d5dd;
  --app-tabs-color: #667085;
  --app-tabs-border-color: #f9fafa;
  --app-span-color: #eaecf0;
  --app-gray-border: #d9d9d9;
  --app-tile-desc-color: #101828;
  --app-tile-desc-light: #1018281a;
  --app-tile-desc-lighter: #1018280f;
  --app-green: #027a48;
  --app-green-light: #ecfdf3;
  --app-green-slightly-light: #d1fadf;
  --app-orange: #dd7538;
  --app-orange-light: #ffe8dc;
  --app-light-yellow: #fffaeb;
  --app-warning-bg: #fef0c7;
  --control-inactive-color: #18191b;
  --control-active-color: #667085;
  --tag-gray: #f0f2f5;
  --sidebar-width: 280px;
  --sidebar-collapsed-width: 80px;
  --adk-control-height: 44px;
  --control-required: #f04438;
  --control-selected: #f9fafb;
  --control-error-text-color: #ff4d4f;
  --tabs-bar-shadow: #f0f0f0;
  --table-hover-background-color: #eff4ff;
  --margin-y: 10px;
  --margin-x: 30px;
}
